<!DOCTYPE html>
<html>
<head>
  <title>GETIN Apply</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
  <script
    src="https://unpkg.com/axios/dist/axios.min.js"
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"
    crossorigin="anonymous"></script>
</head>
<body class="grey lighten-3">

<nav class="green accent-4" role="navigation">
  <div class="nav-wrapper container">
    <a href="/" id="logo-container" class="brand-logo">GETIN Apply</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/">Home</a></li>
{% if not current_user.is_authenticated %}
      <li><a href="{{ sso_login_url }}">Log in</a></li>
{% else %}
  {% if current_user.recruiter or current_user.admin %}
      <li><a href="{{ url_for('processing') }}">Recruitment</a></li>
  {% endif %}
  {% if current_user.admin %}
      <li><a href="{{ url_for('admin') }}">Admin</a></li>
  {% endif %}
    <li><a href="{{ url_for('logout') }}">Log out</a></li>
{% endif %}
    </ul>
  </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="container">
      {% if category == 'success' %}
        <div class="card light-green lighten-2">
      {% else %}
          <div class="card deep-orange lighten-2">
      {% endif %}
        <div class="card-content">
          <p>{{ message }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
  {% block body %}{% endblock %}
</div>

<script>
  M.AutoInit();
</script>

</body>
</html>
