{% extends 'base.html' %}

{% block body %}
<h3><u>Application processing</u></h3>
{% with arg = 0 if show_completed else 1, message = 'Show uncompleted apps' if show_completed else 'Show completed apps' %}
  <a href="{{ url_for('processing', show_completed=arg) }}" class="btn waves-effect waves-light blue">{{ message }}
{% endwith %}
  <i class="material-icons right">send</i>
</a>
<br>
<div id="app">
  <table class="highlight responsive-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Note</th>
        <th>View API</th>
        <th>Change status</th>
      </tr>
    </thead>
    <tbody>
      {% for app in applications %}
        <tr>
          <td>{{ app.user.name }}</td>
          <td>{{ app.status }}</td>
          <td>{% if app.note %}{{ app.note }}{% endif %}</td>
          <td><a href="{{ url_for('view_api', character_id=app.user.id) }}" class="btn waves-effect waves-light blue">View <i class="material-icons right">send</i></a></td>
          <td><a class="btn waves-effect waves-light blue" @click='openModal({{ app.id }}, "{{ app.user.name }}", "{{ app.status }}")'>Change status</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div id="modal" class="modal">
    <div class="modal-content">
      <h4>Change application status -- [[ name ]]</h4>
      <p>Current status: [[ status ]]</p>
      <div class="row">
        <form :action="'/processing/' + id + '/status'" method="POST" class="col s6">
          <div class="row">
            <div class="col s8">
              <label for="status">Status</label>
              <select id="status" name="status" v-model="newStatus" class="browser-default">
                <option value="New">New</option>
                <option value="Under review">Under review</option>
                <option value="Accepted">Accepted</option>
                <option value="Denied">Denied</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col s8">
              <button class="btn waves-effect waves-light blue" type="submit">Save</button>
            </div>
          </div>
        </form>
{% if not show_completed %}
        <form :action="'/processing/' + id + '/complete'" method="POST" class="col s6">
          <div class="row">
            <div class="col s12">
              <p>
                Marking this application as <i>complete</i> means it won't show up in the list of apps for recruiters any more. It's basically like deleting it.
              </p>
              <p>
                This doesn't change the <i>status</i>, which is what recruiters and the applicant both see, so you should set the status to something final, then come
                back and hit this button.
              </p>
              <button class="btn waves-effect waves-light green" type="submit">Mark complete</button>
            </div>
          </div>
        </form>
{% endif %}
      </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Close</a>
    </div>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      id: 0,
      name: '',
      status: '',
      newStatus: ''
    },
    methods: {
      openModal(id, name, status) {
        this.id = id
        this.name = name
        this.status= status
        this.newStatus = status
        M.Modal.getInstance(document.querySelector('.modal')).open()
      }
    }
  })
</script>
{% endblock %}
